/* Importação da font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* Body */
body{
    height: 100vh;
    background: url(/imgs/fundo13.jpg);
    background-position: center;
    background-size: cover;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
}
header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .logo{
    font-size: 2.1rem;
    font-weight: 600;
}
.navbar .menu-links{
    display: flex;
    gap: 40px;
    list-style: none;
}
.navbar a{
    color: #252525;
    text-decoration: none; 
    transition: 0.2s ease;
}
.navbar a:hover{
    color: #356224;  
    background-color: #d5bf8e;
    border-radius: 8px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.hero-section .content{
    color: #252525;
}
.hero-section .content h1{
    font-size: 3rem;
    max-width: 650px;
    color: #356224;
    margin-left: 30px;
}
.hero-section .content p{
    font-weight: 500;
    margin-top: 15px;
    max-width: 600px;
    color: #252525;
    margin-left: 30px;
}
.hero-section .content  button{
    background: #356224;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    margin-left: 30%;
    padding: 12px 30px;
    cursor: pointer;
    transition: 0.2s ease;
    
}
.hero-section .content  button:hover{
    background: #d5bf8e;
    color: #356224;
}
#menu-btn{
    color: #fff;
    cursor: pointer;
    display: none;
}
#close-menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
}
/* Footer */
footer{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    padding: 30px;
    background-color:#252525;
    color: white;
    font-size: 22px;
    padding: 100px;
}
.links-footer{
   
    list-style: none;
    margin: 0 auto;
}
.redes-sociais{
    margin-top: 20px;
    display: inline-flex;
}
.span-footer{
    font-family: PT Serif Caption;
    font-size: 22px;
}
.span-logo{
    font-family: PT Serif Caption;
    font-size: 30px;
    margin-left: 30px;
}
font{
    font-size: 22px;
    text-decoration: solid;
}
.contato{
    margin-left: 30px;
}
li{
    list-style: none;
    display: flex;
    margin: auto;   
}
.sobre{
    font-size: 22px;
    margin-left: 40%;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header{
       padding: 10px ; 
    }
    header.show-mobile-menu::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    .navbar .logo {
        font-size: 1.7rem;
      }
    #close-menu-btn, #menu-btn{
        display: block;
    }
    .navbar .menu-links{
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background-color: #e1e1e1;
        padding: 70px 40px 0;
        transition: left 0.15s ease;
    }

    header.show-mobile-menu .navbar .menu-links{
        left: 0;
    }

    .navbar a{
        color: #356224;
    }

    .hero-section .content{
        text-align: center;
    }

    .hero-section .content :is(h1, p){
        max-width: 100%;
    }

    .hero-section .content h1{
        font-size: 2.3rem;
        line-height: 60px;
    }
    
    .hero-section .content button{
        padding: 9px 18px;
        margin-left: 12px;
    }
}